* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;

  padding-right: 10px;
}
a {
  text-decoration: none;
}

:root {
  --player-height: 80px;
  --sidebar-width: 40px;
  /* --sidebar-width: 200px; */
}

/* debug */
.debug {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000080;
  border: 2px dashed red;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
  flex-direction: row;
}

#slide-music {
  height: var(--player-height);
}

.side-bar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--player-height));
  background-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
}
.main-content {
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - var(--player-height));
}
.bar-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
.icon-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-small {
  height: 26px;
}
.logo {
  display: none;
}
/* .icon-spotify {
  color: white;
  font-size: 26px;
} */
.icon {
  color: white;
  font-size: 18px;
  padding-top: 10px;
}
.icon-dim {
  height: 22px;
}
.icon-down {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  align-items: center;
}
.icon-download {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;

  border: 0.5px solid white;
  border-radius: 50%;

  color: white;
  font-size: 5px;
}
.icon-user {
  color: white;
  font-size: 22px;
  padding-top: 20px;
}
.none {
  display: none;
}
.icon-white {
  display: none;
}
.playlist {
  margin-top: 15px;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
}
.button-plus {
  background-color: grey;
  width: 32px;
  height: 32px;
  font-size: 20px;
  border: none;
}
.btn-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.list {
  padding-bottom: 15px;
  margin-left: -18px;
}
.icon-install {
  display: flex;
  align-items: center;
}

/* FOOTER */
#slide-music {
  background-color: #292929ff;
}
.slide-flex {
  display: flex;
  justify-content: space-between;
}
.artist {
  /* max-width: 180px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.artist-album {
  height: 30px;
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.visual-img {
  height: 100%;
}
.info-artist-slide {
  padding-left: 5px;
  margin-right: 5px;
}
.slide-Title-song {
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.slide-info {
  font-size: 8px;
  font-weight: bold;
  color: grey;
}
.icon-album {
  height: 50px;
  color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.controll {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
}
.icon-controll {
  color: white;
  padding: 10px;
  font-size: 16px;
}
.icon-controll-play {
  color: white;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  margin: 0 20px;
}

.slider {
  width: 100%;
  height: 50px;
}
.button-slider {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.slider-intern {
  width: 20%;
  height: 3px;
  background-color: white;
}
.slider-estern {
  height: 3px;
  background-color: grey;
}
.audio-controll {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-audio {
  width: 60%;
  height: 50px;
}
.button-audio {
  width: 40%;
  height: 50px;
}

/* META VISUAL */
@media screen and (min-width: 639px) {
  :root {
    --sidebar-width: 180px;
  }
  .bar-flex {
    align-items: start;
    justify-content: space-between;
    /* padding-left: 18px; */
    overflow: auto;
  }
  .icon-top {
    align-items: start;
  }
  .icon-spotify {
    color: white;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .none {
    display: flex;
    font-size: 12px;
    font-weight: bold;
  }

  /* .icon-spotify .none {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  } */
  .logo-small {
    display: none;
  }
  .logo {
    display: block;
    height: 32px;
    padding-left: 16px;
  }

  .icon {
    color: grey;
    font-size: 18px;
    /* padding-top: 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
  }

  .menu:hover .icon {
    color: white;
    /* border-left: 3px solid #abff2eff; */
  }

  .list:hover {
    color: white;
  }
  /* PROVA */
  .btn-playlist:hover .button-plus {
    background-color: white;
  }
  .btn-playlist:hover .play {
    color: white;
  }
  .active {
    border-left: 3px solid #abff2eff;
  }
  .home {
    padding-left: 13px;
  }
  .cerca {
    padding-left: 16px;
  }
  .libre {
    padding-left: 16px;
  }
  .playlist {
    padding-left: 16px;
    overflow: hidden;
    min-height: 80px;
    display: flex;
    flex-direction: column;
  }
  .playlist:hover .play-hover {
    display: block;
  }
  .playlist-white {
    display: none;
    color: white;
  }
  .text {
    color: grey;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
  }
  .play {
    padding-left: 8px;
    color: grey;
    font-weight: bold;
    text-align: center;
  }
  .install {
    color: grey;
    font-size: 10px;
    padding-left: 8px;
  }
  .icon-down {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 16px;
  }
  .icon-download {
    border: 0.5px solid grey;

    color: grey;
  }

  .icon-install {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    padding-right: 20px;
    width: 140px;
  }
  .icon-user {
    color: grey;
    padding-top: 0px;

    font-size: 22px;
  }
  .user-flex {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  .User-name {
    color: white;
    padding-left: 5px;
  }
}
